#cloud-config
hostname: test1
fqdn: test1.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC7c0Pydf/abhYnFs12Ss12roTkw6maAoi5DX1Cbm5p4oNIxnYurce5zrePRSmfSdxRdJjcOq82nFTxCAcKl7IwvpXoilksWivevi0+4hb54vMw/raO5zlKX+1dRLlrMIxMehUb8rAwn67wRlZQUEgUuWE/5PvvQrIWIotg6XWOn1qd6J+h5CGr3xvk9pSXxGLclHz2qDLFzihmvZytM2Z2YzhsiNFdoyirgYcRkiVPwGtuS3NQ25/moEuNjGTyrMzgSR7F3BCiYwbNp3K8jd6QpwcocgXG7xdo8rKy4QnZYvshU8NYgFKRRTAwxV45xvx/FV8UkH9Wc3DqWPmPRqu8z181cOZ9ZIwbELGxS12zMWeN4+5251BM0bmVIwg1KGASnxA3s2bWZ1UBK0av4RwqyDOQb8pgeRJhteTFAm08A/jxSrSmcD1cmbwXp5t1c7v8uNst0IKI2oOl0bOAvBePnjnqGZg1wZKUk/pq2aMZmUCI372UgfGM2SwecYOxOSC1dQ1e6z/7DAvRSg9lVAF89/PNxp37LReqBWZuOnVukVCh+qhDyEGeDt262RI0LZxnzZpkDE3W7rWuxUcuZFYv7dlIL1vwceucm0qeQCf4lbDDZgQXaVa5WzQNNBqjh73J8wAyXVhwJmHDdOQVG4YJUPYEB+n2yeq2JnfuQ+X0Sw== evgeny.kuznetsov@outlook.com"
# only cert auth via ssh (console access can still login)
ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
     ubuntu:linux
  expire: False
packages:
  - qemu-guest-agent
  - git
runcmd:
  - [ systemctl, daemon-reload ]
  - [ systemctl, enable, "serial-getty@ttyS0.service" ]
  - [ systemctl, start, "serial-getty@ttyS0.service" ]
# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds"
